{{> navigation}}

<section id="viewMe">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            <form action="#/createChirp" method="post" id="formSubmitChirp" class="chirp-form">
                <textarea name="text" class="chirp-input"></textarea>
                <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
            </form>

            <div id="myStats" class="user-details">
                <span>{{chirps.length}} chirps</span> | <span>{{following.length}} following</span> |
                <span>{{followers.length}} followers</span>
            </div>
        </div>
        <div id="myChirps" class="chirps">
            <h2 class="titlebar">Chirps</h2>
            {{#if chirps.length}}
                {{#each chirps}}
                    <article class="chirp">
                        <div class="titlebar">
                            <a href="#/viewMe" class="chirp-author">{{author}}</a>
                            <span class="chirp-time"><a href="#/deleteChirp/{{_id}}">delete</a> {{calcTime _kmd.ect}}</span>
                        </div>
                        <p>{{text}}</p>
                    </article>
                {{/each}}
            {{else}}
                <p>No chirps in database.</p>
            {{/if}}
        </div>
    </div>
</section>

{{> footer}}