<tr>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td>{{quantity}}</td>
    <td>{{total}}</td>
    <td>
        <a href="#/discard/:{{id}}">
            <button>Discard</button>
        </a>
    </td>
</tr>
